Source: libvarnish-vmod-header
Section: web
Priority: extra
Maintainer: Allard Hoeve <allard@byte.nl>
Standards-Version: 3.9.1
Build-Depends: debhelper (>> 8), libvarnishapi-dev, dh-autoreconf, varnish, pkg-config, python

Package: libvarnish-vmod-header
Architecture: any
Depends: ${shlibs:Depends}, varnish (> 3)
Description: varnish module for manipulation of duplicated headers 
 libvmod-header is a Varnish Module (vmod) for the manipulation of duplicated 
 HTTP headers in incoming and outgoing traffic. This is useful, for instance,
 when a backend request sets multiple set-cookie headers. Without the module,
 Varnish can only manipulate the first header encountered. Now, header
 manipulation becomes much more versatile.
